body {
    width: 1000px;
    margin: auto;
    color:#000000; /*code hexadécimal du noir*/

    /*  background-image:url('web/images/la_ferme_de_l_oie.jpg');*/
    font-family:verdana;
    font-size:12px;
}
#logo{
    width: 80px;
    height: 80px;
}
header {
    position: static;
}
#mainContent{
    margin-top: 100px;
}
/*#plateau {
    height: 450px;
}*/
#plateau-overlay {
    position:absolute;
    top:24px;
    z-index: 10;
    width:485px;
    height:401px;
}
#plateau td, .cell-overlay  {
    height: 50px;
    width: 50px;
}
#plateau td {
    position: relative;
}
.cell-overlay {
    position: absolute;
    right: 5px;
    top: 1px;
    color: #0A2A0A;
    font-weight: bold;
}
.game-aside-info  {
    height: 410px;
}
.game-aside-info .panel-body  {
    height: 100%;
}


#partie {
    height: 80px;
    border: 0px;
    background-color:  	#f0f4f2;
}
#joueurs {
    height: 80px;
    border: 0px;
    background-color: 	#b3c6ff;
    text-align: center;
}
.players_info_turn{
    display: inline-block;
    opacity: 0.2;
    margin: 10px;
    overflow:hidden;
}

.players_info_turn.active{
    opacity: 1;
}
.players_info_turn .panel{
    min-height:50px;
    max-height: 65px;
}
.players_info_turn .panel-heading{
    padding-bottom: 2px;
    padding-top: 2px;
}
.players_info_turn .panel-body{
    padding: 5px;
    padding-top: 7px;
}
.players_info_turn .panel-body p{
    font-size: 8px;
}


#img_logo{
    width: 20px;
    height: 20px;
}
/* le paragraphe contenant la question : */
#de {
    height: 80px;
    border: 0px;
    background-color:  	#f0f4f2;
}
#question {
    text-align: justify;
}
h4 {
    text-align: center;
}

footer {
    margin-left: 65px;
    margin-right: 65px;
    background-color:  	#f0f4f2;
}


#the-dice {
    width:60px;
}
#comments {
    color:red;
    font-family: verdana;
    font-size: 12px;
}

.center {
    text-align: center;
}

#the-question {
    width : 190px;
    font-size : 10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:5px;
    padding-left:5px;
}
#responses {
    width : 190px;
    font-size : 10px;
    word-break: break-all;
    padding-top:2px;
    padding-bottom:2px;
    padding-right:5px;
    padding-left:5px;
}
#presentation_equipe {
    width : 800px;
    font-size : 21px;
    text-align: justify;
}

#intro {
    width: 900px;
    height: 300px;


}

.center {
    text-align: center; 
}