{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div id="questions" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Inscris-toi pour jouer :</div>
                <div class="panel-body">
                    {{form_start(formRegister)}}
                    {{form_widget(formRegister)}}
                    {{form_end(formRegister)}}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

