<div class="row">
    <div class="col-md-12">
        <nav>
            <ul class="nav nav-tabs nav-justified">
                <li>Infos Légales</li>
                <li>Qui Sommes-Nous ?</li>
                <li>Forum</li>
                <li>Contact</li>
            </ul>
        </nav>



    </div>
</div>

