{% extends 'AppBundle::base.html.twig' %}
{% block content %}
    <audio src="{{ asset('sounds/canard.mp3')}}" autoplay></audio>
    <div class="row">
        <div id="creation" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">A votre choix:</div>
                <div class="panel-body">
                    {#                    formCreate est dans le defualtControler car il n'est associé à aucune entité#}
                    {{form_start(formCreate)}}
                    {{form_widget(formCreate)}}
                    {{form_end(formCreate)}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
