{% extends 'AppBundle::base.html.twig' %}
{% block content %}
    <audio id="testaudio" src="{{ asset('sounds/ane.mp3')}}"></audio>
    <div class="row">
        <div id="creation" class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Le Quizz de l'Oie</div>
                <div class="panel-body">
                    <p>Chaque joueur joue chacun son tour en lançant le dés.
                        <br></br>
                        Suivant le nombre ou chiffre obtenue, le pion du joueur avance jusqu'à la case.
                        <br></br>
                        A ce moment là une question s'affiche.
                        <br></br>
                        Le niveau de difficulté de la question est en fonction de la couleur de la case :
                        <br></br>
                        <strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspOrange => Niveau facile<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspVer => Niveau moyen<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbspRouge => Niveau difficile<br>
                        </strong>
                        <br></br>
                        Selon que votre réponse soit bonne ou mauvaise vous avancez ou reculez de x cases.
                        <br></br>
                        Le joeur qui gagne est le premier arrivé à la 63.
                        <br></br<br></br>
                        <strong>Si la case est de niveau facile :</strong><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous avancez de 1 case si la réponse est bonne<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous reculer de 4 cases si la réponse est fausse<br>
                        <br></br>
                        <strong>Si la case est de niveau moyen :</strong><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous avancez de 2 case si la réponse est bonne<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous reculer de 2 cases si la réponse est fausse<br>
                        <br></br>
                        <strong>Si la case est de niveau difficile:</strong><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous avancez de 1 case si la réponse est bonne<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;- Vous reculer de 1 cases si la réponse est fausse<br>
                        <br>
                    </p>
                    <img id="logo" src="{{ asset('images/jeu_de_l_oie.png')}}" alt="logo" title="jeu_de_l_oie_1" />
                    <img id="logo" src="{{ asset('images/jeu_de_l_oie_2.jpg')}}" alt="logo" title="jeu_de_l_oie_2" />


                </div>
            </div>
        </div>
    </div>
{% endblock %}{# empty Twig template #}
